@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f6f6f6;
}

.background {
  background: linear-gradient(to bottom right, #ff9ff3, #00b894);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

h1.dark {
  color: #333;
}

.lead {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.lead.dark {
  color: #333;
}

section {
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

ul {
  margin-bottom: 20px;
  list-style: disc;
  margin-left: 20px;
  color: #333;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #777;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
  
  .lead {
    font-size: 20px;
  }
  
  h2 {
    font-size: 28px;
  }
}